{% extends "base.html" %}
{% load i18n %}

<div class="container-fluid">
{% block body %}

<div class="row row-centered">

     <div class="col-md-4 col-centered">
         <div class="check">
    {% if user.is_staff %}
        <a class="btn btn-default" href="{% url 'edit_news' slug=news.slug %}"><span class="glyphicon glyphicon-pencil"></span>Edit news</a>
        <a class="btn btn-default" href="{% url 'delete_news' slug=news.slug %}"><span class="glyphicon glyphicon-remove"></span>Delete news</a>
    {% endif %}
    </div>
        <h1>{{ news.title }}</h1>
        <h4>By {{ news.author }}, {{ news.published_date }}</h4>

        <p>{{ news.content|safe}}</p></div>

    <div class="col-md-6 col-centered">
        <img class="img-responsive" src = "../../media/{{ news.image }}" alt = "Place for cover" width="600" height="600"/>

    </div></div>
    <div class="row row-centered">
    <div class="col-md-4 col-centered">
    <hr>
    {% if user.is_authenticated %}
    <a class="btn btn-info" href="{% url 'add_comment_to_news' slug=news.slug %}">Add comment</a>
    {% endif %}
    {% for comment in news.comments.all %}
        {% if user.is_superuser or comment.approved_comment %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}
                 {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text }}</p>
        </div>
         {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
    </div><div class="col-md-6 col-centered"/></div>
{% endblock %}
</div>


